[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
freezegun = "*"
pytest = "*"
pytest-cov = "*"

[packages]
slackclient = "*"
certifi = "*"
google-cloud-pubsub = "*"
oauth2client = "*"
google-cloud-bigquery = "*"

[requires]
python_version = "3.8"
